/**
 * React Switch Button control style.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-02-17
 * @version         2.0.0
 *
 */

// Main Switch Button container
.rsbc-switch-button
{
  position       : relative;
  line-height    : 100%;
  display        : inline-block;
  vertical-align : middle;
  margin         : 0;
  .rsbc-box-sizing(border-box);

  label {
    cursor: pointer;
  }

  &.disabled {
    label {
      cursor: not-allowed;
    }
  }

  // Hide the default input checkbox
  input[type="checkbox"]
  {
    position    : absolute;
    margin-left : -9999px;
    visibility  : hidden;
  }

  // Default left label
  > label:first-child
  {
    display    : inline-block;
    margin     : 0 6px 0 0px;
  }

  // Right label
  label + label
  {
    margin-left : 6px;
  }

  input[type="checkbox"] + label
  {
    display  : inline-block;
    position : relative;
    margin   : 0;
    outline  : none;
    .rsbc-user-select(none);
    .rsbc-box-sizing(border-box);
  }
}

@import "react-switch-button-round.less";
@import "react-switch-button-square.less";